.full-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 40px 25px;
  background-image: url('/src/image/background_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .text-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .text-with-icon-text {
      /* margin-top: 30px; */
      color: #253058;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .info-icon {
      width: 16px;
      height: 16px;
      /* margin-top: 36px; */
    }
  }

  .main-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f6f1;
    border-radius: 16px;
    padding: 25px 20px 80px;
    width: 100%;
    height: auto;

    border: 1px solid #e8ebf1;
    box-shadow: 0px 16px 48px 0px #e3ebfb;
    /* backdrop-filter: blur(50px); */

    .data-page {
      .icon-with-title {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .data-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          .data-icon {
            width: 40px;
            height: 40px;
          }

          .data-text {
            color: #253058;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        .info-input-form {
          margin-top: 5px;
          margin-bottom: 20px;
          width: 100%;
          height: 48px;
          border-radius: 8px;
          border: 1px solid #e8ebf1;
          background: #f8f9fb;
        }

        .orange-input-form {
          display: flex;
          padding: 15px 24px;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          margin-bottom: 20px;
          border-radius: 8px;
          border: 1px solid #ef6824;
          background: #fdeee6;
        }

        .cvv-and-expiration {
          display: flex;
          justify-content: space-between;
        }

        .bottom-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 48px;
          border-radius: 8px;
          padding: 8px;
          background: #ef6824;

          .orange-button {
            /* text-align: center; */
            color: #fff;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        .smallest-form {
          margin-top: 5px;
          margin-bottom: 20px;
          height: 48px;
          width: 98px;
          border-radius: 8px;
          border: 1px solid #e8ebf1;
          background: #f8f9fb;
        }

        .medium-form {
          margin-top: 5px;
          margin-bottom: 20px;
          height: 48px;
          width: 191px;
          border-radius: 8px;
          border: 1px solid #e8ebf1;
          background: #f8f9fb;
        }

        .data-big-text {
          margin-top: 10px;
          margin-bottom: 30px;
          color: #7c87aa;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 125% */
          letter-spacing: -0.16px;
        }
      }
    }

    .microsel-logo {
      width: 160px;
      height: 40px;
      margin-bottom: 20px;
    }
  }
  .receipt-wrapper {
    padding: 0 40px;
    width: 100%;

    .second-container {
      width: 100%;
      height: 60px;
      background-color: #dfecf8;
      position: relative;
      /* border-radius: 50px; */
      overflow: hidden;

      .dashed-line {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg, transparent 50%, #5f6e8c 50%);
        background-size: 20px 2px;
        position: absolute;
        top: 50%;
        left: 26px;
      }

      &::before,
      &::after {
        content: '';
        width: 60px;
        height: 60px;
        background-color: #f7f6f1;
        border-radius: 50%;
        position: absolute;
        top: 0;
      }

      &::before {
        left: -30px;
      }

      &::after {
        right: -30px;
      }
    }

    .third {
      display: flex;
      width: 100%;
      height: 90px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      background-color: #dfecf8;

      .third-wrapper {
        flex-direction: row;
        padding: 15px 30px;

        .third-title {
          color: #7c87aa;

          font-family: 'Euclid Circular B';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .third-price {
          color: #253058;
          margin-top: 5px;
          font-family: 'Euclid Circular B';
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .third-icon {
        padding-top: 15px;
        margin-left: 30px;
        width: 38px;
        height: 51px;
      }

      .third-icon img {
        width: 38px;
        height: 51px;
        object-fit: contain;
      }
    }

    .receipt-element {
      display: flex;
      flex-direction: column;
      background-color: #dfecf8;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: auto;
      padding: 15px 30px 0;

      .receipt-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .receipt-info {
        background-color: #cfdfe9;
        border-radius: 10px;
        padding: 10px;

        .receipt-line-info {
          display: flex;
          justify-content: space-between;
          padding: 5px 0;
          font-size: 16px;

          .receipt-line-text {
            width: 150px;
            font-size: 14px;
            color: #7c87aa;
          }

          .receipt-line-output {
            display: flex;
            justify-content: flex-end;
            color: #253058;
          }
        }
      }
    }
  }
}
